<% set_title 'Account details' -%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: :no_border }) do |f| %>
  <%# render_form_errors_for resource %>
  <%= devise_error_messages! %>

  <div class="formItem">
    <%= f.label :name, "Name", :class => 'required_field' %>
    <%= f.text_field :name, :autocomplete => :off %>
  </div>

  <% unless current_user.root? %>
    <div class="formItem">
      <%
          tooltip = current_user.cloud_user_id.blank? ? "A cloud user ID will be automatically created" : "Once set cloud user IDs can only be changed by an admin user"
      %>
      <%= f.label :cloud_user_id, "Cloud User ID", title: tooltip %>
      <%= f.text_field :cloud_user_id, autocomplete: :off, disabled: true %>
    </div>
  <% end %>

  <% unless current_user.root? %>
    <div class="formItem">
      <%
          tooltip = current_user.project_id.blank? ? "A project ID will be automatically created" : "Once set project IDs can only be changed by an admin user"
      %>
      <%= f.label :project_id, "Project ID", title: tooltip %>
      <%= f.text_field :project_id, autocomplete: :off, disabled: true %>
    </div>
  <% end %>

  <% unless current_user.root? %>
    <div class="formItem">
      <%= f.label :billing_period, "Current billing period" %>
      <%= f.text_field :billing_period, autocomplete: :off, disabled: true, value: user_presenter(current_user).billing_period %>
    </div>

    <div class="formItem">
      <% tooltip = "Total cumulative costs accrued so far this billing period" %>
      <%= f.label :cost, "Costs this billing period (USD)", title: tooltip %>
      <%= f.text_field :cost, autocomplete: :off, disabled: true %>
    </div>
  <% end %>

  <div class="formItem">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password %>
  </div>

  <div class="formItem">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="formItem">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>

  <%= f.submit "Update" %>
<% end %>
