<% content_for(:head) do %>
  <%= javascript_import_module_tag "registrations/new" %>
<% end %>

<%
    @icon_override = 'users'
    set_title 'Sign up'
-%>

<div class="pcols loginPcols">
  <ul class="pcol">
    <li class="widget box panel" id="signup_panel">

      <div class="widgetHeader">
        <h3>Sign up</h3>
      </div>

      <div class="widgetDescription">
        <div class="corporateLogos">
          <img src="/personalities/ct/images/upper-login.png" title="Alces Concertim Command" class="corporateLogo corporateLogoLeft">
          <h3>
            <br>
            <strong>by</strong>
          </h3>
          <img src="/personalities/ct/images/lower-login.png" title="Alces Concertim Command" class="corporateLogo corporateLogoRight">
        </div>
      </div>

      <div class="widgetBody">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: :no_border}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.text_field :login, autofocus: true, autocomplete: "off", placeholder: 'Username' %>
          <%= f.email_field :email, autocomplete: "off", placeholder: 'Email' %>
          <%= f.text_field :name, autocomplete: "off", placeholder: 'Name' %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation' %>

          <div class="switch-wrapper--inline">
            <p title="If you have an existing project ID you wish to use for this account, select this option and enter it.  If you don't, a project ID will be created for you when needed.">
            I have an existing project ID
            </p>
            <div class="switch">
              <input class="switch-input" id="have_project_id" type="checkbox" name="have_project_id">
              <label class="switch-paddle" for="have_project_id">
                <span class="show-for-sr">I have an existing project ID</span>
              </label>
            </div>
          </div>
          <div class="hidden" id="user_project_id_wrapper" style="margin-left: 1em;">
            <%= f.text_field :project_id, autocomplete: "off", placeholder: 'Existing Project ID' %>
          </div>

          <center>
            <%= f.submit "Sign up", class: :button, name: :sign_up %>
            <div class="login-link">
              Or <%= link_to "Login", new_session_path(resource_name) %>
            </div>
            <div class="powered-by">
              &copy; 2023
              <%= link_to "Powered by Alces Concertim", "https://alces-flight.com" %>
            </div>
          </center>
        <% end %>
      </div>
    </li>
  </ul>
</div>

