<!DOCTYPE html>
<html>
  <head>
    <title>CT Vis<%= ": #{sanitize_title(yield :title)}" if content_for? :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
  </head>

  <body>
    <div class="fill" id="app">
      <%= render 'layouts/shared/header' %>

      <div id="mid" class="content fill">
        <%= render :partial => 'share/sidebar' %>
        <div id="main">
          <%= render partial: 'layouts/shared/title_bar' %>
          <div id="pagePane">
            <div id="pageBox" class="fill box">
              <%= render :partial => 'layouts/shared/flash_messages' %>
              <div id="pageContent">
                <%= yield %>
              </div><!--pageContent-->
            </div><!--pagePane-->
          </div><!--pageBox-->
        </div><!--main-->
      </div><!--mid-->
      <%= render :partial => 'layouts/shared/footer' %>
    </div><!--app-->
  </body>
</html>
