<% content_for(:head) do %>
  <%= javascript_import_module_tag "clusters/new" %>
<% end %>

<% set_title "Create cluster for team #{@team.name} - configure cluster" -%>
<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<div class="cluster-type-header">
  <%= render partial: 'cluster_types/card_content', object: @cluster_type %>
</div>

<div class="cluster-form-instructions">
Complete the details below and click "Launch".
</div>

<%= form_for(@cluster, url: cluster_type_clusters_path(@cluster_type)) do |f| %>
  <%= f.hidden_field :team_id %>
  <%= cell('cluster_form_errors').(:show, @cluster) %>
  <%= cell('cluster_form_name').(:show, @cluster, f) %>

  <% @cluster.field_groups.each do |field_group| %>
    <% next if field_group.empty? %>
    <div class="cluster-field-group" data-cluster-form-optional-field-group="field-group">
      <h2 class="cluster-field-group-label"><%= field_group.label %></h2>
      <% unless field_group.description.blank? %>
        <div class="cluster-field-group-description"><%= field_group.description %></div>
      <% end %>
      <% if field_group.optional? %>
        <div class="cluster-field-group-optional-toggle" data-cluster-form-optional-field-group="toggle">
          <%= f.fields_for :selections, field_group do |selection| %>
            <%= selection.check_box(field_group.selection_form_name, checked: field_group.selected) %>
            <label for="cluster_selections_<%= field_group.selection_form_name %>"><%= field_group.selection_label %></label>
          <% end %>
        </div>
      <% end %>
      <div class="cluster-field-group-fields ct-collapsible" data-cluster-form-optional-field-group="fields">
        <% field_group.fields.each do |field| %>
          <% field = Cluster::FieldPresenter.new(field, self, @cloud_assets) %>
          <%= f.fields_for :cluster_params, field do |cluster_param| %>
            <div class="formItem">
              <%= field.form_label(cluster_param) %>
              <%= field.form_description %>
              <%= field.error_message(cluster_param) %>
              <%= field.form_input(cluster_param) %>
              <%= field.constraint_text %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% presenter = presenter_for(@cluster_type) %>
  <% if presenter.instruction('launch').present? %>
    <h2><%= presenter.instruction('launch')['title'] %></h2>
    <div class="cluster-launch-instructions">
      <%= MarkdownRenderer.render(presenter.instruction('launch')['text']) %>
    </div>
  <% end %>

  <%= f.submit 'Launch' %>
<% end %>
