<% set_title 'Configure cluster' -%>
<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<p>Configure details for cluster <strong><%= @cluster_type.name %></strong></p>
<p><%= @cluster_type.description %></p>

<%= form_for(@cluster, url: fleece_cluster_type_clusters_path(@cluster_type)) do |f| %>
  <%= cell('fleece/cluster_form_errors').(:show, @cluster) %>
  <%= cell('fleece/cluster_form_name').(:show, @cluster, f) %>

  <h4>Cluster Parameters</h4>
  <% @cluster.fields.each do |field| %>
    <% field = Fleece::Cluster::FieldPresenter.new(field, self) %>
    <%= f.fields_for :cluster_params, field do |cluster_param| %>
      <div class="formItem">
        <%= field.form_label(cluster_param) %>
        <%= field.error_message(cluster_param) %>
        <%= field.form_input(cluster_param) %>
        <%= field.constraint_text %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit 'Create' %>
<% end %>
