<%= form_for(@config, url: fleece_config_path) do |f| %>

  <% if @config.errors.any? %>
    <div id="error_explanation">
      <h2>There <%= "#{@config.errors.count == 1 ? 'is' : 'are'}" %> <%= pluralize(@config.errors.count, "error") %>:</h2>
   
      <ul>
      <% @config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formItem">
    <%= f.label :host_url, "Host URL", class: 'required_field' %>
    <%= f.url_field :host_url, autocomplete: :off, placeholder: "http(s)://ex.com:5000" %>
  </div>

  <div class="formItem">
    <%= f.label :internal_auth_url, "Internal Auth URL", class: 'required_field' %>
    <%= f.url_field :internal_auth_url, autocomplete: :off, placeholder: "http(s)://keystone.host:35357/v3" %>
  </div>

  <div class="formItem">
    <%= f.label :user_handler_port, "User handler port", class: 'required_field' %>
    <%= f.number_field :user_handler_port, minimum: 1, maximum: 65535, placeholder: 42356 %>
  </div>

  <div class="formItem">
    <%= f.label :cluster_builder_port, "Cluster builder port", class: 'required_field' %>
    <%= f.number_field :cluster_builder_port, minimum: 1, maximum: 65535, placeholder: 42378 %>
  </div>

  <div class="formItem">
    <%= f.label :admin_user_id, "Admin user ID", class: 'required_field' %>
    <%= f.text_field :admin_user_id, autocomplete: :off %>
  </div>

  <div class="formItem">
    <%= f.label :admin_openstack_password, "Admin password", class: 'required_field' %>
    <%= f.text_field :admin_openstack_password, autocomplete: :off %>
  </div>

  <div class="formItem">
    <%= f.label :admin_project_id, "Admin project ID", class: 'required_field' %>
    <%= f.text_field :admin_project_id, autocomplete: :off %>
  </div>

  <%= f.submit @config.persisted? ? 'Update' : 'Create' %>
<% end %>
