<% unless @actions.empty? -%>
  <% if @is_dropdown -%>
    <% attr = { class: :dropdown_actions } -%>
  <% else -%>
    <% attr = {} -%>
  <% end -%>

  <%= content_tag :div, **attr do -%>
    <%= content_tag :ul, **@ul_attrs do -%>
      <% @actions.each do |action| -%>
        <% @li_attrs[:class] = (action.matches_request?(request) ? :current : '') -%>
        <% if action.divider? && ((@is_dropdown && !action.side?) || (!@is_dropdown && action.side?)) -%>
          <li class="divider">
            <% if action.title.nil? -%>
              <hr>
            <% else -%>
              <span><%= action.title %></span>
            <% end -%>
          </li>
        <% else -%>
          <% if action.custom? || action.side? -%>
            <% if (action.side? && !@is_dropdown) || (action.custom? && @is_dropdown) -%>
              <%= content_tag :li, action.html, @li_attrs.merge(action.li_opts) %>
            <% end %>
          <% else -%>
            <% if @is_dropdown -%>
              <%= content_tag :li, link_to(action.title, action.path, action.opts), @li_attrs.merge(action.li_opts) %>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end -%>

    <% if @is_dropdown -%>
      <a
          class="button dropdown"
          href="#"
          data-dropdown="<%= @dropdown_id %>"
          data-options="align: left"
          aria-expanded="false"
          >
          Actions
      </a>
    <% end -%>
  <% end -%>
<% end -%>
