<% content_for(:head) do %>
  <%= javascript_include_tag "mia/contrib/knockout.js" %>
  <%= javascript_import_module_tag "IRV" %>
<% end %>

<% content_for(:title) do %>
    Data centre rack view
<% end %>

<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<div id="interactive_canvas_view">
  <div id="tooltip" class="rack_view_tooltip"></div>

  <div class="shadow-box-message-container" id="loader">
    <div class="shadow-box-message" id="dialogue">Initialising</div>
  </div>
  <div class="shadow-box-message-container hidden" id="zero-racks-message">
    <div class="shadow-box-message">
    <% if current_user.root? %>
      Racks have not yet been imported for any users.  They will appear here
      automatically when they have.
    <% else %>
      Racks have not yet been imported for your account.  They will appear here
      automatically when they have.
    <% end %>
    </div>
  </div>
  <div id="context_menu"></div>
  <div
      id="rack_view"
      data-preset="<%=@preset%>"
      data-focus="<%=@data_focus%>"
      data-filter="<%=@data_filter%>"
      data-show="<%=@show%>"
      data-applyfilter="<%=@data_applyfilter%>"
  >
    <div id="rack_container" class="main_pane"></div>
  </div>
  <div id="colour_map"><input id="input_min" type="text" name="min" value=""><input id="input_max" type="text" name="max" value=""></div>
  <div id="graph_container" class="main_pane"><div id="graph"></div><div id="pointer"></div></div>
</div>
