<% set_title "Select cluster type" %>
<% content_for(:head) do %>
  <%= javascript_import_module_tag "cluster_types/index" %>
<% end %>

<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<div class="text-center">
  <h3>
  Choose from our selection of cluster types to start building a cluster using
  your private cloud resources.
  </h3>
</div>

<% if @cloud_service_config.nil? %>
   <p>
     New clusters cannot be launched as the Cloud Environment has not yet been configured.
     <% if current_user.root %>
       Please <%= link_to 'set the configuration', cloud_service_config_path %> to continue.
     <% else %>
      Please contact an admin.
     <% end %>
   </p>
<% elsif @cluster_types.empty? %>
  <p>There are no cluster types available at present.</p>
<% else %>
  <div class="new_cluster choose-team">
    <div class="formItem">
      <div class="field">
        <%= label_tag :team_id, "Team", class: "required_field" %>
        <select id="choose_cluster_team" name="team_id" required <% "disabled" unless current_user.can?(:create, Cluster) %>>
          <option value="" disabled selected>Select Team</option>
          <% @all_teams.each do |team| %>
            <% disabled = @unavailable_teams.include?(team) ? 'disabled' : '' %>
            <option value="<%= team.id %>" <%= 'selected' if @team && @team.id == team.id %> <%= disabled %>>
              <%= team.name %>
            </option>
          <% end %>
        </select>

      </div>
      <div class="constraint-text">
        Must have at least <%= Rails.application.config.cluster_credit_requirement %> credits
      </div>
    </div>
  </div>

  <div class="cluster-types-card-deck">
    <% available_teams = @valid_teams.exists? %>
    <% @cluster_types.each do |cluster_type| %>
      <%= render partial: 'card', object: cluster_type, locals: { team: @team, available_teams: available_teams } %>
    <% end %>
  </div>
<% end %>
