<% content_for(:head) do %>
  <%= javascript_include_tag "contrib/knockout.js" %>
  <%= javascript_import_module_tag "IRV" %>
<% end %>

<% content_for(:title) do %>
    Data centre rack view
<% end %>

<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<div id="interactive_canvas_view">
  <div id="tooltip" class="rack_view_tooltip"></div>

  <div class="shadow-box-message-container" id="loader">
    <div class="shadow-box-message" id="dialogue">Initialising</div>
  </div>
  <div class="shadow-box-message-container hidden" id="zero-racks-message">
    <div class="shadow-box-message">
    <% if current_user.root? %>
      Racks have not yet been imported for any users.  They will appear here
      automatically when they have.
    <% else %>
      Racks have not yet been imported for your account.  They will appear here
      automatically when they have.
    <% end %>
    </div>
  </div>
  <div id="context_menu"></div>
  <div
      id="rack_view"
      data-preset="<%=@preset%>"
      data-focus="<%=@data_focus%>"
      data-filter="<%=@data_filter%>"
      data-show="<%=@show%>"
      data-applyfilter="<%=@data_applyfilter%>"
      <% if @rack_ids.present? %>
      data-rackIds="<%= @rack_ids.join(",") %>"
      <% end %>
  >
    <div id="rack_container" class="main_pane"></div>
  </div>
  <div id="colour_map"><input id="input_min" type="text" name="min" value=""><input id="input_max" type="text" name="max" value=""></div>
  <div id="graph_container" class="main_pane">
    <div id="metric-chart-controls">
      <div class="div_row" id="metric_dates">
        <div class="metric-graph-choice">
          <div class="text-center"><strong>Metric Timeframe</strong></div>
          <div class="metric-graph-radio">
            <input type="radio" id="current-metrics" name="metric-graph-choice" value="current" checked />
            <label for="current-metrics">Current</label>
            <input type="radio" id="historic-metrics" name="metric-graph-choice" value="historic"
                   data-bind="enable: enableHistoricMetricGraph"/>
            <label for="historic-metrics" title="Only available when 1 device selected">Historic</label>
          </div>
        </div>
        <div class="metric-date-pickers">
          <div class="date-input">
            <label class="toolTip" for="metric_start_date">
              Metric start date
            </label>
            <input type="date" id="metric_start_date" name="metric_start_date", max="<%= Date.current %>" min="<%= Date.current - 89.days %>"
                   data-bind="enable: enableMetricDateChoice" value="<%= Date.current - 6.days %>"/>
          </div>
          <div class="date-input">
            <label class="toolTip" for="metric_end_date">
              Metric end date
            </label>
            <input type="date" id="metric_end_date" name="metric_end_date", max="<%= Date.current %>"
                   data-bind="enable: enableMetricDateChoice" value="<%= Date.current %>" />
          </div>
        </div>
      </div>
    </div>
    <div id="graph"></div>
    <div id="pointer"></div>
    <div id="historic-graph"></div>
    <div id="no-metrics-data">
      <strong>No metric data for current selection</strong>
    </div>
  </div>
</div>
