<% set_title 'Add credits' -%>

<p>Add credits for team <strong><%= @team.name %></strong>.</p>

<p>It currently has <strong><%= pluralize(presenter_for(@team).formatted_credits, 'credit') %>.</strong></p>

<%= simple_form_for @credit_deposit, html: { class: 'no_border' }, url: team_credit_deposits_path(@team) do |f| %>
  <%= f.input :amount, as: :float, input_html: { min: 0.01, step: 0.01 } %>
  <%= f.button :submit %>
<% end %>
