<% set_title 'Add credits' -%>

<p>Add credits for team <strong><%= @team.name %></strong>.</p>

<p>It currently has <strong><%= pluralize(presenter_for(@team).formatted_credits, 'credit') %>.</strong></p>

<%= simple_form_for @credit_deposit, html: { class: 'no_border' }, url: team_credit_deposits_path(@team) do |f| %>
  <%= f.input :date, as: :string, input_html: { type: 'date', value: Date.current }, title: 'Effective Date' %>
  <%= f.input :amount, input_html: { min: 1, step: 1 } %>
  <%= f.button :submit %>
<% end %>
