<% set_title 'Key-pair created' -%>

<% if @key_pair.private_key %>
  <h5>
    Please ensure you make a copy of the private key, as you will not be able to retrieve it after leaving
  this page.
  </h5>
<% end %>

<%= form_for(@key_pair, url: '') do |f| %>
  <div class="formItem">
    <%= f.label :name, "Key name", class: 'required_field' %>
    <%= f.text_field :name, disabled: true %>
  </div>

  <div class="formItem">
    <%= f.label :key_type, "Key type" %>
    <%= f.select :key_type, [["SSH Key", "ssh_key"], ["X509 Certificate", "x509"]], {}, {disabled: true} %>
  </div>

  <div class="formItem">
    <%= f.label :fingerprint, "Fingerprint" %>
    <%= f.text_field :fingerprint, disabled: true %>
  </div>


  <% if @key_pair.private_key %>
    <div class="formItem">
      <%= f.label :private_key, "Private key" %>
      <%= f.text_area :private_key, disabled: true %>
    </div>
    <div class="button small copyToClipboard" data-text="<%= @key_pair.private_key %>">Copy</div>
  <% end %>

  <% if @key_pair.public_key %>
    <div class="formItem">
      <%= f.label :public_key, "Public key" %>
      <%= f.text_area :public_key, disabled: true %>
    </div>
  <% end %>
<% end %>
