<div class="formItem">
  <% if label? %>
    <%= f.label attribute, label, class: label_classes %>
    <% if has_errors? %>
      <span class="error-message">
        <%= label %> <%= error_message %>
      </span>
    <% end %>
  <% end %>
  <%= f.text_field attribute %>
  <% if hint %>
    <div class="form-text">
      <%= hint %>
    </div>
  <% end %>
</div>
