<!DOCTYPE html>
<html>
  <head>
    <title>CtApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="assets/mia/contrib/mootools/base.js" type="text/javascript"></script>
    <script src="assets/mia/contrib/mootools/element.js" type="text/javascript"></script>
    <script src="assets/mia/contrib/mootools/request.js" type="text/javascript"></script>
    <script src="assets/mia/contrib/mootools/request.json.js" type="text/javascript"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div id="mid">
      <%= render :partial => 'share/sidebar' %>
      <div id="main">
        <%= yield %>
      </div><!--main-->
    </div><!--mid-->
  </body>
</html>
