<!DOCTYPE html>
<html>
  <head>
    <title>CtApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <script src="assets/mia/contrib/mootools/base.js" type="text/javascript"></script> %>
    <%# <script src="assets/mia/contrib/mootools/element.js" type="text/javascript"></script> %>
    <%# <script src="assets/mia/contrib/mootools/request.js" type="text/javascript"></script> %>

    <script src="assets/mia/contrib/mootools/mootools.js" type="text/javascript"></script>

    <script src="assets/mia/contrib/mootools/request.json.js" type="text/javascript"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div class="fill" id="app">
      <div id="mid" class="content fill">
        <%= render :partial => 'share/sidebar' %>
        <div id="main">
          <div id="pagePane">
            <div id="pageBox" class="fill box">
              <div id="pageContent">
                <%= yield %>
              </div><!--pageContent-->
            </div><!--pagePane-->
          </div><!--pageBox-->
        </div><!--main-->
      </div><!--mid-->
    </div><!--app-->
  </body>
</html>
